{% load static %}

<script type="text/javascript">
	/*
	  Main resources:
	  https://www.youtube.com/watch?v=cKIG1lKwLeo&t=401s&ab_channel=HongLy
	  For the ground zero code, see the exported files from here:
	  https://codepen.io/mikewesthad/pen/BVeoYP?editors=1111

	  Also worth taking a look:
	  https://www.youtube.com/watch?v=fdXcD9X4NrQ&ab_channel=MorganPage
	  and
	  https://www.youtube.com/watch?v=MR2CvWxOEsw&ab_channel=MattWilber
	 */


	// ###########################################################################
	// PREAMBLE
	// ###########################################################################

	// <step> -- one full loop around all three phases determined by <phase> is
	// a step. We use this to link the steps in the backend.
	let step = {{step}};
	let sim_code = "{{sim_code}}";
 	let step_size = {{sec_per_step}} * 1000; // 10 seconds = 10000

	// Phaser 3.0 global settings.
	// Configuration meant to be passed to the main Phaser game instance.
	const config = {
	  type: Phaser.AUTO,
	  width: 1500,
	  height: 800,
	  parent: "game-container",
	  pixelArt: true,
	  physics: {
	    default: "arcade",
	    arcade: {
	      gravity: { y: 0 } } },
	  scene: {
	    preload: preload,
	    create: create,
	    update: update },
	  scale: {zoom: 0.8} };

	// const config = {
	//   type: Phaser.AUTO,
	//   width: 4480,
	//   height: 3200,
	//   parent: "game-container",
	//   pixelArt: true,
	//   physics: {
	//     default: "arcade",
	//     arcade: {
	//       gravity: { y: 0 } } },
	//   scene: {
	//     preload: preload,
	//     create: create,
	//     update: update },
	//   scale: {zoom: 1} };


	// Creating the game instance and setting up the main Phaser variables that
	// will be used in it.
	const game = new Phaser.Game(config);
	let cursors;
	let player;

	// Persona related variables. This should have the name of the persona as its
	// keys, and the instances of the Persona class as the values.
	let persona_names = JSON.parse(document.getElementById("demo-persona-init").textContent);
	var spawn_tile_loc = {};
	for (var key in persona_names){
		spawn_tile_loc[key] = persona_names[key] ;
	}

	var personas = {};
	var pronunciatios = {};
	var speech_bubbles = {};
	var personaShadows = {};
	let anims_direction;
	let pre_anims_direction;
	let pre_anims_direction_dict = {};

	// <tile_width> is the width of one individual tile (tiles are square)
	let tile_width = 32;
	let renderedWorldController = null;
	const world_manifest_url = "{% static world_manifest_path %}?v=2";
	const static_asset_root = "{% static '' %}";
	// Important: tile_width % movement_speed has to be 0.
	// <movement_speed> determines how fast we move at each upate cylce.
	let movement_speed = {{play_speed}};

	// Variables for storing movements that are sent from the backend server.
	let execute_count_max = tile_width/movement_speed;
	let execute_count = execute_count_max;
	let movement_target = {};
	let all_movement = JSON.parse(document.getElementById("demo-all-movement").textContent);

  let start_datetime =new Date(Date.parse("{{start_datetime}}"));
  var datetime_options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
 	document.getElementById("game-time-content").innerHTML = start_datetime.toLocaleTimeString("en-US", datetime_options);


	// ###########################################################################
	// ENGINE
	// ###########################################################################

	// Joon: Phaser 3.0 is oriented around "scenes" -- recall how Pokemon plays:
	//       there is the outdoor space, and then there is the indoor space; when
	//       you go inside, you transition to a new "scene" and the outdoor space
	//       basically disappears.
	//       A scene in Phaser has four key methods that are called at different
	//       stages of rendering for different purposes. They are:
	//       init() -> preload() -> create() -> update()
	//         init() is called only once at the very beginning. This is the
	//           initialization function in case that is needed.
	//         preload() is called once and preloads any of the assets
	//         create() is also called once after preloading... creates sprites
	//           and actually displays stuff
	//         update() is called on each frame during the game play

	function preload() {
		// For managing cross origin errors. We need to set this, change AWS
		// CORS settings, and django AWS settings.
		this.load.crossOrigin = '';

	  ClaudevilleWorld.queueWorld(
	    this, world_manifest_url, static_asset_root,
	    worldManifest => ClaudevilleCharacters.queueCharacters(
	      this, worldManifest.resident_manifest_url, static_asset_root
	    )
	  );

	  this.load.image('speech_bubble', "{% static 'assets/speech_bubble/v3.png' %}");
	}

	function create() {
		  renderedWorldController = ClaudevilleWorld.createWorld(this);
		  const renderedWorld = renderedWorldController;
		  window.setFocusedWorldSector = sector => renderedWorld.setFocusedSector?.(sector || null);
	  const worldW = renderedWorld.bounds.width;
	  const worldH = renderedWorld.bounds.height;

	  // *** SET UP CAMERA ***
	  // "player" is to be set as the center of mass for our "camera." We
	  // basically create a game character sprite as we would for our personas
	  // but we move it to depth -1 and let it pass through the collision map;
	  // that is, do not have the following line:
	  // this.physics.add.collider(player, collisionsLayer);
	  // OLD NOTE: Create a sprite with physics enabled via the physics system.
	  // The image  used for the sprite has a bit of whitespace, so I'm using
	  // setSize & setOffset to control the size of the player's body.
	  player = this.physics.add.
	                sprite(2400, 588, "atlas", "down").
	                setSize(30, 40).
	                setOffset(0, 0);
	  player.setDepth(-1);
	  // Setting up the camera.
	  const camera = this.cameras.main;
	  camera.startFollow(player);
	  camera.setBounds(0, 0, worldW, worldH);
	  cursors = this.input.keyboard.createCursorKeys();

	  // *** SET UP PERSONAS ***
	  // We start by creating the game sprite objects.
	  ClaudevilleCharacters.createAnimations(this, Object.keys(spawn_tile_loc));
	  for (let i=0; i<Object.keys(spawn_tile_loc).length; i++) {
	    let persona_name = Object.keys(spawn_tile_loc)[i];
	    let start_pos = [spawn_tile_loc[persona_name][0] * tile_width + tile_width / 2,
	                     spawn_tile_loc[persona_name][1] * tile_width + tile_width];
		    let new_sprite = ClaudevilleCharacters.createSprite(
	      this, persona_name, start_pos[0], start_pos[1]
		    ).setSize(30, 40).setOffset(0, 0);

	    // Here, we are creating the persona and its pronunciatio sprites.
	    personas[persona_name] = new_sprite;
	    const spriteLayout = ClaudevilleCharacters.displayLayout(new_sprite);
	    new_sprite.setDepth(ClaudevilleCharacters.depthForSprite(
	      new_sprite, renderedWorldController
	    ));
	    personaShadows[persona_name] = this.add.ellipse(
	      spriteLayout.foot.x, spriteLayout.foot.y, 22, 9, 0x000000, 0.3
	    ).setDepth(new_sprite.depth - 1);
	    speech_bubbles[persona_name] = this.add.image(
	      spriteLayout.foot.x,
	      spriteLayout.top - 6,
	      'speech_bubble'
	    ).setOrigin(0.5, 1).setDepth(100001);
      speech_bubbles[persona_name].displayWidth = 130;
      speech_bubbles[persona_name].displayHeight = 58;

	    pronunciatios[persona_name] = this.add.text(
	                                   spriteLayout.foot.x,
	                                   spriteLayout.top - 35,
	                                   "🦁", {
	                                   font: "24px monospace",
	                                   fill: "#000000",
	                                   padding: { x: 8, y: 8},
	                                   border:"solid",
	                                   borderRadius:"10px"})
	                                   .setOrigin(0.5, 0.5).setDepth(100002);
	  }

	}


	function update(time, delta) {
		// *** SETUP PLAY AND PAUSE BUTTON ***
		let play_context = this;
		function game_resume() {
			play_context.scene.resume();
		}
		play_button.onclick = function(){
			game_resume();
		};
		function game_pause() {
			play_context.scene.pause();
		}
		pause_button.onclick = function(){
			game_pause();
		};

	  // *** MOVE CAMERA ***
	  // This is where we finish up the camera setting we started in the create()
	  // function. We set the movement speed of the camera and wire up the keys to
	  // map to the actual movement.
	  const camera_speed = 400;
	  // Stop any previous movement from the last frame
	  player.body.setVelocity(0);
	  if (cursors.left.isDown) {
	    player.body.setVelocityX(-camera_speed);
	  }
	  if (cursors.right.isDown) {
	    player.body.setVelocityX(camera_speed);
	  }
	  if (cursors.up.isDown) {
	    player.body.setVelocityY(-camera_speed);
	  }
	  if (cursors.down.isDown) {
	    player.body.setVelocityY(camera_speed);
	  }


	  let curr_focused_persona = document.getElementById("temp_focus").textContent;
	  if (curr_focused_persona != "") {
	  	player.body.x = personas[curr_focused_persona].body.x;
	  	player.body.y = personas[curr_focused_persona].body.y;
	  	document.getElementById("temp_focus").innerHTML = "";
	  }



	  // *** MOVING PERSONAS ***
	 	for (let i=0; i<Object.keys(personas).length; i++) {
	 		let curr_persona_name = Object.keys(personas)[i];
    	let curr_persona = personas[curr_persona_name];
    	let curr_pronunciatio = pronunciatios[Object.keys(personas)[i]];
    	let curr_speech_bubble = speech_bubbles[Object.keys(personas)[i]];

    	if (all_movement[step] && curr_persona_name.replace("_", " ") in all_movement[step]) {
    		if (execute_count == execute_count_max) {
    			let curr_x = all_movement[step][curr_persona_name.replace("_", " ")]["movement"][0]
	        let curr_y = all_movement[step][curr_persona_name.replace("_", " ")]["movement"][1]
    			movement_target[curr_persona_name] = [curr_x * tile_width,
	                                              curr_y * tile_width];
	        let pronunciatio_content = all_movement[step][curr_persona_name.replace("_", " ")]["pronunciatio"];
	        let description_content = all_movement[step][curr_persona_name.replace("_", " ")]["description"];
	        let chat_content_raw = all_movement[step][curr_persona_name.replace("_", " ")]["chat"];

	        const escHtml = (v) => String(v == null ? '' : v).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;').replace(/'/g, '&#39;');
	        let chat_content = "";
	        if (chat_content_raw != null ){
		        for (let j=0; j<chat_content_raw.length; j++) {
		          chat_content += escHtml(ClaudevilleAddresses.translateText(chat_content_raw[j][0])) + ": " + escHtml(ClaudevilleAddresses.translateText(chat_content_raw[j][1])) + "<br>"
		        }
		      } else {
		      	chat_content = "<em>None at the moment</em>"
		      }

	       	// This is what gives the pronunciatio balloon the name initials. We
	        // use regex to extract the initials of the personas.
	        // E.g., "Dolores Murphy" -> "DM"
	        let rgx = new RegExp(/(\p{L}{1})\p{L}+/, 'gu');
	        let initials = [...curr_persona_name.matchAll(rgx)] || [];
	        initials = (
	          (initials.shift()?.[1] || '') + (initials.pop()?.[1] || '')
	        ).toUpperCase();
	        pronunciatios[curr_persona_name].setText(initials + ": " + pronunciatio_content);

	        // Updating the status of each personas
	        document.getElementById("quick_emoji-"+curr_persona_name).textContent = pronunciatio_content;
	        document.getElementById("current_action__"+curr_persona_name).textContent =
	          ClaudevilleAddresses.translateText(description_content.split("@")[0]);
	        document.getElementById("target_address__"+curr_persona_name).textContent =
	          ClaudevilleAddresses.displayAddress(description_content.split("@")[1] || "");
	        document.getElementById("chat__"+curr_persona_name).innerHTML = chat_content;
    		}

    		if (execute_count > 0) {
    			if (curr_persona.body.x < movement_target[curr_persona_name][0]) {
	          curr_persona.body.x += movement_speed;
	          anims_direction = "r";
	          pre_anims_direction = "r"
	          pre_anims_direction_dict[curr_persona_name] = "r"
	        } else if (curr_persona.body.x > movement_target[curr_persona_name][0]) {
	          curr_persona.body.x -= movement_speed;
	          anims_direction = "l";
	          pre_anims_direction = "l"
	          pre_anims_direction_dict[curr_persona_name] = "l"
	        } else if (curr_persona.body.y < movement_target[curr_persona_name][1]) {
	          curr_persona.body.y += movement_speed;
	          anims_direction = "d";
	          pre_anims_direction = "d"
	          pre_anims_direction_dict[curr_persona_name] = "d"
	        } else if (curr_persona.body.y > movement_target[curr_persona_name][1]) {
	          curr_persona.body.y -= movement_speed;
	          anims_direction = "u";
	          pre_anims_direction = "u"
	          pre_anims_direction_dict[curr_persona_name] = "u"
	        } else {
	        	anims_direction = "";
	        }

	        const spriteLayout = ClaudevilleCharacters.displayLayout(curr_persona);
	        curr_pronunciatio.x = spriteLayout.foot.x;
          curr_pronunciatio.y = spriteLayout.top - 35;
          curr_speech_bubble.x = spriteLayout.foot.x;
	        curr_speech_bubble.y = spriteLayout.top - 6;
          curr_persona.setDepth(ClaudevilleCharacters.depthForSprite(
            curr_persona, renderedWorldController
          ));
          const currShadow = personaShadows[curr_persona_name];
          if (currShadow) {
            currShadow.x = spriteLayout.foot.x;
            currShadow.y = spriteLayout.foot.y;
            currShadow.setDepth(curr_persona.depth - 1);
          }

          const walkDirection = { l: "left", r: "right", u: "up", d: "down" }[anims_direction];
          if (walkDirection) {
			      ClaudevilleCharacters.playWalk(
			        curr_persona.scene, curr_persona, curr_persona_name, walkDirection
			      );
			    }
			}
		} else {
	      const idleDirection = {
	        l: "left", r: "right", u: "up", d: "down"
	      }[pre_anims_direction_dict[curr_persona_name]] || "down";
	      ClaudevilleCharacters.setIdle(
	        curr_persona.scene, curr_persona, curr_persona_name, idleDirection
	      );
		}
	 	}

	  if (execute_count == 0) {
		  for (let i=0; i<Object.keys(personas).length; i++) {
	      let curr_persona_name = Object.keys(personas)[i]
	      let curr_persona = personas[curr_persona_name];
	      curr_persona.body.x = movement_target[curr_persona_name][0];
	      curr_persona.body.y = movement_target[curr_persona_name][1];
	      const spriteLayout = ClaudevilleCharacters.displayLayout(curr_persona);
	      curr_persona.setDepth(ClaudevilleCharacters.depthForSprite(
	        curr_persona, renderedWorldController
	      ));
	      const currShadow = personaShadows[curr_persona_name];
	      if (currShadow) {
	        currShadow.x = spriteLayout.foot.x;
	        currShadow.y = spriteLayout.foot.y;
	        currShadow.setDepth(curr_persona.depth - 1);
	      }
	    }
			execute_count = execute_count_max + 1;
	    step = step + 1;

	    start_datetime = new Date(start_datetime.getTime() + step_size);
 			document.getElementById("game-time-content").innerHTML = start_datetime.toLocaleTimeString("en-US", datetime_options);
    }

	  execute_count -= 1;
	}

	// Control button binders
	var play_button=document.getElementById("play_button");
	var pause_button=document.getElementById("pause_button");
</script>
